@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');
@import "./null-styles.scss";
@import "./aside.scss";

body {
    font-family: 'Poppins', sans-serif;
}

.wrap {
    display: grid;
    grid-template: 1fr / 3fr 10fr;
    
    width: 100%;
    height: 100vh;
}

main {
    background: #FFF6E0;
}