main {
    background: #FFF6E0;
}

.main__list {
    width: 100%;
    height: auto;
    
    > div {
        display: grid;
        grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        
        margin: 10px;
        padding: 30px;
        background-color: seagreen;
    }
}